.partners{
    margin-top: 10rem;
}

.partners img{
    width:15%;
    height: 45px;
}
.partners .img2{
    width: 300px;
	height: 35px;
}

@media (max-width: 768px) {
    .partners{
        margin-top: 5rem;
        text-align: center;
    }
    .partners img{
        width:60%;
        height: 45px;
        margin-bottom: 10px;
    }
    .partners .img2{
        width: 300px;
        height: 35px;
        margin-bottom: 10px;

    }
}

.btn-text{
    background: #422F59;
    border-radius: 8px;
    padding:10px;
    width:30%;
    color:white;
    text-align: center;
}
.btn-text2{
    background: #422F59;
    border-radius: 8px;
    padding:10px;
    width:45%;
    color:white;
    text-align: center;
}

.value_list{
    color:#FF800B;
}

.value_list p{
    color:#422F59;
}

.value-prop{
    padding: 25px;
}

.blog_heading{
    margin-top: 15px;
}

.blog_link{
    color:#FF800B
}

.blog_category{
    color:#FF800B
}