/* section one styling */
.outsourcing_container_section_one {
    background: #FAF7FD;
    display: flex;
    padding: 3rem 2rem;
    margin-top: 4rem;
    flex-direction: column;
    gap: 1.5rem;
}

.outsourcing_container_section_one_subsection_one {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0.5;
}

.outsourcing_container_section_one_subsection_one_h2 {
    color: #422F59 !important;
    font-family: 'Dm Sans';
    font-weight: 400;
    font-size: xx-large;
    margin-bottom: 0.2rem;
    line-height: 1;
}

.outsourcing_container_section_one_subsection_one_p,
.outsourcing_container_section_one_clients_p,
.outsourcing_container_section_five_p {
    color: #565578;
    font-family: 'Dm Sans';
    font-weight: 400;
    line-height: 1.2;
    width: 90%;
    font-size: medium;
}

.outsourcing_container_section_one_subsection_one_button,
.outsourcing_container_section_six_button {
    background: #FF800B;
    border: none;
    padding: 0.4rem 0.1rem;
    border-radius: 5px;
    width: 50%;
    transition: 0.3s;
}

.outsourcing_container_section_one_subsection_one_button:hover,
.outsourcing_container_section_six_button:hover {
    background: #D46B0B;
}

.butousorce {
    color: #fff;
    text-decoration: none;
    transition: text-decoration ease-out 0.5s;
}

.butousorce:hover {
    color: #fff;
    text-decoration: underline;
}

.outsourcing_container_section_one_subsection_two {
    width: 100%;
    flex: 0.5;
    
}
.outsourcing_container_section_one_subsection_two_img {
    object-fit: contain;
    width: 100%;
}

.outsourcing_container_section_one_clients {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.outsourcing_container_section_one_clients_logos {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 40%;
}

.outsourcing_container_section_one_clients_logos_figure {
    width: 100%;
    display: flex;
    align-items: center;
}

.outsourcing_container_section_one_clients_logos_figure_img {
    object-fit: contain;
    width: 80%;
}

.outsourcing_container_section_one_clients_p {
    font-size: small;
}

/* end of section one */


/* section two styling */

.outsourcing_container_section_two {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
}

.outsourcing_container_section_two_figure {
    width: 100%;
}

.outsourcing_container_section_two_figure_img {
    object-fit: contain;
    width: 100%;
}

.outsourcing_container_section_two_subsection_two {
    display: flex;
    flex-direction: column;
}

.outsourcing_container_section_two_subsection_two_h4 {
    font-weight: 500;
    font-size: larger;
    color: #422F59 !important;
    line-height: 1.2;
}

.outsourcing_container_section_two_subsection_two_p {
    font-size: medium;
    font-weight: 400;
}

/* end of section two styling */

/* start of section three styling */

.outsourcing_container_section_three {
    display: flex;
    flex-direction: column;
    background: #FAF7FD;
    align-items: center;
    padding: 2rem 3rem;
    gap: 1rem;
}

.outsourcing_container_section_three_h3,
.outsourcing_container_section_four_h3,
.outsourcing_container_section_five_h3,
.outsourcing_container_section_six_h3 {
    color: #422F59 !important;
    font-weight: 700;
    font-size: large;
    text-align: center;
    line-height: 1.2;
}

.outsourcing_container_section_three_subsection_two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.outsourcing_container_section_three_subsection_two_first_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.outsourcing_container_section_three_subsection_two_first_div_fig {
    flex: 0.5;
    width: 40%;
}
.outsourcing_container_section_three_subsection_two_first_div_fig_img {
    object-fit: contain;
    width: 100%;
}

.outsourcing_container_section_three_subsection_two_first_div_p {
    flex: 0.5;
    font-weight: 400;
    text-align: center;
    font-size: small;
    line-height: 1.2;
}
/* end of section three styling */

/* section four styling */

.outsourcing_container_section_four {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 2rem 0rem;
}

.outsourcing_container_section_four_p {
    font-size: medium;
    font-weight: 400;
    color: #FF800B;
}

.outsourcing_container_section_four_subsection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.outsourcing_container_section_four_subsection_div {
    display: flex;
    flex-direction: column;
    background: #FAF7FD;
    border: 1px solid #C6B5DB;
    border-radius: 5px;
    padding: 1rem;
    gap: 0.5rem;
}

.outsourcing_container_section_four_subsection_div_fig {
    width: 20%;
    margin-bottom: 0rem;
}

.outsourcing_container_section_four_subsection_div_fig_svg {
    object-fit: contain;
    display: block;
    width: 50%;
}

.outsourcing_container_section_four_subsection_div_h5 {
    font-weight: 700;
    font-size: small;
    line-height: 1.2;
    margin-bottom: 0rem;
    color: #565578;
}

.outsourcing_container_section_four_subsection_div_p {
    line-height: 1.2;
    font-size: small;
    font-weight: 400;
    color: #565578;
}
/* end of section four styling */

/* section five styling */

.outsourcing_container_section_five {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    align-items: center;
    gap: 0.5rem;
    background: #F1E5FF;
}

.outsourcing_container_section_five_fig {
    width: 100%;
    display: flex;
    align-items: center;
}

.outsourcing_container_section_five_p {
    text-align: center;
    font-size: smaller;
}

.outsourcing_container_section_five_fig_img {
    object-fit: contain;
    width: 100%;
}
/* end of section five styling */
/* section six styling */
.outsourcing_container_section_six {
    display: flex;
    flex-direction: column;
    background: linear-gradient(103.22deg, #4F2980 0%, #7E41CC 100%);
    align-items: center;
    gap: 1rem;
    width: 80%;
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 5px;
}

.outsourcing_container_section_six_h3 {
    color: #fff !important;
}
/* end of section six styling */

/* responsiveness of screen styling */

@media screen and (max-width: 366px) {
    .outsourcing_container_section_one_subsection_one_button,
    .outsourcing_container_section_six_button {
        width: 70%;
    }
}

@media only screen and (min-width: 576px) {
   .outsourcing_container_section_four_subsection {
     grid-template-columns: repeat(2, 1fr);
   }

   .outsourcing_container_section_five_h3,
   .outsourcing_container_section_six_h3 {
     font-size: larger;
    }

   .outsourcing_container_section_five_p {
     width: 80%;
    }
}

@media only screen and (min-width: 768px) {
    .outsourcing_container_section_one,
    .outsourcing_container_section_two {
        flex-direction: row;
        align-items: center;
    }

    .outsourcing_container_section_two_figure {
        flex: 0.6;
    }

    .outsourcing_container_section_two_subsection_two {
        flex: 0.4;
        align-items: center;
    }
    .outsourcing_container_section_two_subsection_two_h4,
    .outsourcing_container_section_two_subsection_two_p,
    .outsourcing_container_section_five_p {
        line-height: 1.2;
    }

    .outsourcing_container_section_three_subsection_two_first_div {
        width: 100%;
    }

    .outsourcing_container_section_three_subsection_two_first_div_fig {
        width: 25%;
    }

    .outsourcing_container_section_three_h3,
    .outsourcing_container_section_four_h3,
    .outsourcing_container_section_six_h3 {
        font-size: larger;
    }

    .outsourcing_container_section_five_h3 {
        font-size: larger;
    }

    .outsourcing_container_section_three_subsection_two_first_div_p,
    .outsourcing_container_section_four_p
    .outsourcing_container_section_five_p {
        font-size: medium;
    }

    .outsourcing_container_section_five_p {
        width: 75%;
    }

    .outsourcing_container_section_five_fig {
        width: 80%;
    }


    .outsourcing_container_section_six_button {
        width: 20%;
    }

}

@media only screen and (min-width: 992px) {
    .outsourcing_container_section_one {
        padding: 3rem 5rem;
    }

    .outsourcing_container_section_four_subsection {
        grid-template-columns: repeat(3, 1fr);
    }   
}

@media only screen and (min-width: 1024px) {
    .outsourcing_container_section_five_h3 {
        font-size: xx-large;
    }

    .outsourcing_container_section_five_fig {
        width: 60%;
    }
}

@media only screen and (min-width: 1128px) {

    .outsourcing_container_section_one {
        padding: 3rem 5rem;
        gap: 0.2rem;
    }

    .outsourcing_container_section_one_subsection_one_h2 {
        font-size: 40px;
    }

    .outsourcing_container_section_two_subsection_two {
        align-items: baseline;
    }

    .outsourcing_container_section_two_subsection_two_h4, 
    .outsourcing_container_section_three_h3,
    .outsourcing_container_section_four_h3,
    .outsourcing_container_section_six_h3 {
        font-size: x-large;
    }

    .outsourcing_container_section_two_subsection_two_p,
    .outsourcing_container_section_three_subsection_two_first_div_p
    .outsourcing_container_section_five_p {
        font-size: large;
    }

    .outsourcing_container_section_five_fig {
        width: 40%;
    }
    
    .outsourcing_container_section_five_p {
        text-align: center;
        width: 70%;
    }
}

@media only screen and (min-width: 1330px) {
    .outsourcing_container_section_one {
        padding: 3rem 8rem;
        gap: 0.2rem;
    }

    .outsourcing_container_section_five_p {
        font-size: large;
        width: 60%;
    }
}